<a href="https://colab.research.google.com/github/leegr02/matplotlib/blob/main/15_%EC%82%B0%EC%A0%90%EB%8F%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 15. 산점도 그래프
두 변수의 상관관계
구글 검색: matplotlib cmap

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic' #한글폰트설정
matplotlib.rcParams['font.size'] = 15 #폰트 크기
matplotlib.rcParams['axes.unicode_minus']=False #한글 폰트 사용 시 마이너스 글자가 께지는 현상 해결

In [ ]:
import pandas as pd
df = pd.read_excel('../Pandas/score.xlsx')
df

In [ ]:
df['학년'] = [3,3,2,1,1,3,2,2]
df

In [ ]:
plt.scatter(df['영어'], df['수학'])
plt.xlabel('영어 점수')
plt.ylabel('수학 점수')

In [ ]:
# import numpy as np
# sizes = np.random.rand(8)*1000
# sizes

In [ ]:
import numpy as np
sizes = np.random.rand(8)*1000
sizes

In [ ]:
plt.scatter(df['영어'], df['수학'],s=sizes)
plt.xlabel('영어 점수')
plt.ylabel('수학 점수')

In [ ]:
sizes = df['학년'] * 500 #1학년 500, 2학년 1000, 3학년 1500
plt.scatter(df['영어'], df['수학'],s=sizes)
plt.xlabel('영어 점수')
plt.ylabel('수학 점수')

In [ ]:
plt.scatter(df['영어'], df['수학'],s=sizes, c = df['학년'], cmap = 'viridis', alpha=0.5)
plt.xlabel('영어 점수')
plt.ylabel('수학 점수')

In [ ]:
plt.figure(figsize=(10,10))
plt.scatter(df['영어'], df['수학'],s=sizes, c = df['학년'], cmap = 'viridis', alpha=0.5)
plt.xlabel('영어 점수')
plt.ylabel('수학 점수')
plt.colorbar(ticks=[1,2,3])

In [ ]:
plt.figure(figsize=(10,10))
plt.scatter(df['영어'], df['수학'],s=sizes, c = df['학년'], cmap = 'viridis', alpha=0.5)
plt.xlabel('영어 점수')
plt.ylabel('수학 점수')
plt.colorbar(ticks=[1,2,3], label='학년', shrink=0.5, orientation='horizontal')